
<!--<ion-view view-title="Settings">
<ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>

<button id="fab" class="button button-balanced button-fab button-fab-bottom-right">
            <i class="icon ion-ios-telephone"></i>
        </button>
    <ion-content ng-class="{expanded:$scope.isExpanded}">


   <label class="toggle">
   <input type="checkbox">
   <div class="track">
     <div class="handle"></div>
   </div>
</label>
    </ion-content>
</ion-view>-->
<ion-view view-title="Settings">
    <ion-content class="has-header">
        <ion-list>
            <ion-item ui-sref="app.notify"><i class="icon ion-wifi"></i>&nbsp;&nbsp;&nbsp;&nbsp;Enable Notification
            </ion-item>
            <ion-item ui-sref="app.faq"><i class="fa ion-help"></i>&nbsp;&nbsp;&nbsp;&nbsp;FAQ</ion-item>
         <!--   <ion-item ui-sref="app.terms"><i class="fa fa-th-list "></i>&nbsp;&nbsp;&nbsp;Terms of Use</ion-item>-->
            <ion-item ui-sref="app.privacy"><i class="icon ion-android-person"></i>&nbsp;&nbsp;&nbsp;&nbsp;Profile</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
