<ion-view view-title="Sign Up" align-title="center" hide-nav-bar="true">


   
   <ion-content style="background: url(img/dur.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1><font color="black">Durga Buzzer</font></h1>
            </div>
        </div>
       
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style="color:#0000;">Name</span>
          <input type="text" ng-model="signupData.name" style="color:#0000;">
        </label>
          <label class="item item-input">
          <span class="input-label" style="color:#0000;">Mobile Number</span>
          <input type="tel" ng-model="signupData.phone" style="color:#0000;">
        </label>  <label class="item item-input">
          <span class="input-label" style="color:#0000;">Age</span>
          <input type="number" ng-model="signupData.age" style="color:#0000;">
        </label>
        <label class="item item-input">
          <span class="input-label" style="color:#0000;">Email</span>
          <input type="email" ng-model="signupData.email" style="color:#0000;">
        </label>
         <label class="item item-input">
          <span class="input-label" style="color:#0000;">Password</span>
          <input type="password" ng-model="signupData.password" style="color:#0000;">
        </label>
        
          <button ng-click="doSignup()" class="button button-block button-assertive" ng-disabled="(!signupData.name || !signupData.phone || !signupData.age || !signupData.email || !signupData.password )">Sign Up</button>
          
        <div class="padding" style="text-align: center; ">
          <p style="color:#0000;">I already have an account <a href='#/login'>Login</a> Here</p>
        </div> 
        
      </div>
    
        
    </ion-content>
</ion-view>
